.navbar{
  position:fixed;
  top: 0px;
  left: 0px;
  width:100%;
  height:50px;
  background-color: #DDDDDD;
  z-index:10;
}
.left_nav{
  position:absolute;
  top:0px;
  left:168px;
  width: 200px;
  height:50px;
}
.logo{
  position:absolute;
  top:0px;
  left:0px;
  width: 180px;
  height:45px;
  margin-top:2.5px;
  margin-bottom:2.5px;
}
.right_nav{
  position:absolute;
  top:0px;
  right:0px;
  width: 700px;
  height: 50px;
  background-color: #FFFFFF;
}
.member{
  position:absolute;
  top:0px;
  right:0px;
  width: 700px;
  height: 50px;
  margin-left:5px;
  margin-right:5px;
  float:left;
  }
.menu{
  position:relative;
  top:70px;
  width:1250px;
  height:100px;
  margin:auto;
 }
.icon{
  position:relative;
  top:0px;
  width:200px;
  height:100px;
  margin-right:25px;
  margin-left:25px;
  float:left;
}
.ad{
  position:relative;
  top:90px;
  width:1200px;
  height:525px;
  margin:auto;
}
.ad_pic{
  position:relative;
  top:0px;
  left:0px;
  width:700px;
  height:525px;
  float:left;
}
.ad_word{
  position:relative;
  top:0px;
  right:0px;
  width:500px;
  height:525px;
  float:left;
  background-color: #DDDDDD;
}

.ad_link{
}
